.items{
    display:grid !important;
    grid-template-columns:repeat(5,200px);
    grid-auto-rows:200px;
    gap:0;
    white-space:normal !important;
    overflow:hidden !important;
}

.item{
    display:flex;
}